/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 300px;
}

.title {
    text-align: center;
    flex-grow: 1;
}

.title h1, .title h2 {
    margin: 0;
}

hr {
    margin: 20px 0;
    border: 1px solid #ddd;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.personal-info {
    flex-grow: 1;
}

.personal-info p {
    margin: 5px 0;
}

.passport-photo {
    width: 140px;
    height: 190px;
    border-radius: 5%;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.rapport-button {
    padding: 10px 20px;
    background-color: #009879;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.rapport-button:hover {
    background-color: #0056b3;
}

.search-bar {
    padding: 10px;
    border: 1px solid #009879;
    border-radius: 5px;
    width: 200px;
}

.table-container {
    overflow-x: auto;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
