<!-- bookstore/templates/dashboard/canceled_reservation_list.html -->

{% extends 'dashboard/base.html' %}
{% load static %}

{% block body %}
<div class="container-fluid">
    <div class="row" style="padding-top: 30px">
        <div class="col-sm-1" style="color: red"></div>
        <div class="col-sm-10">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table text-primary"></i>
                    Canceled Reservations
                </div>
                <div class="card-body">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Reservation ID</th>
                                            <th>User</th>
                                            <th>Book Cover</th>
                                            <th>Book Title</th>
                                            <th>Date Reserved</th>
                                            <th>End Date Reserved</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for reservation in canceled_reservations %}
                                            <tr>
                                                <td>{{ reservation.id }}</td>
                                                <td>{{ reservation.user.username }}</td>
                                                <td>
                                                    {% if reservation.book.cover %}
                                                        <img src="{{ reservation.book.cover.url }}" alt="{{ reservation.book.title }}" style="width:100px; height: 100px">
                                                    {% else %}
                                                        <span class="text-muted">No cover</span>
                                                    {% endif %}
                                                </td>
                                                <td>{{ reservation.book.title }}</td>
                                                <td>{{ reservation.added_at }}</td>
                                                <td>{{ reservation.return_at }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
{% endblock %}
