{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="cotes_livre">Import Cotes Livres:</label>
    <input type="file" name="my_file" />  <!-- Mettez à jour le nom du champ ici -->
    <button type="submit">Upload</button>
</form>
<hr>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}